* {
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    padding-top: 40px;
}

#comic {
    max-width: 90vw;
    max-height: 90vh;
}